<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>AI (愛)上淨灘</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static',    filename='css/basic.css') }}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap" rel="stylesheet">
    </head>
<body>
  {% if name == "" %}
	<!-- <form method="post"> -->
		<!-- <input type="text" name="user"> -->
    <input class="form-control form-control-lg" name="user" id="formFile" type="file" accept=".jpg,.gif,.png">
		<input type="submit" name="send" value="送出">
	<!-- </form> -->
	{% else %}
	<p>Hello,{{name}}</p>
	{% endif %}
  <input class="form-control form-control-lg" type="file" accept=".jpg,.gif,.png">
</body>
</html>