<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>AI (愛)上淨灘</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static',    filename='css/basic.css') }}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body>
    <div class="container">
        <div class="card text-center">
            <div class="card-title">
                <a class="position-absolute start-0 top-0" href="/more">
                  <button type="button" class="btn btn-primary btn-sm">
                      <i class="fa fa-arrow-left" aria-hidden="true"></i>
                  </button>
                </a>
                <div class="text-center">
                  <p class="fs-1">我可以做什麼...</p>
                  <hr>
                </div>
              </div>
            <div class="row">
                <div class="col">
                    {% for file in img %}
                        <div class="action-card row justify-content-center">
                            <p class="action-card-no col-md-1">{{loop.index}}</p>
                            <div class="action-card-title col-md-7 text-center">
                                <p class="action-card-title">{{ file.Title }}</p>
                            </div>
                            <div class="col-md-3">
                                <img class="action-card-img" src="static/img/{{ file.filename }}" alt="{{ file.Title }}">
                            </div>
                        </div>
                    {% endfor %}
                    <div class="action-card row justify-content-center">
                        <div class="text-start card-body">
                            <ul class="text fs-3">
                                相關連結:
                                <div class="li-padding fs-5">
                                    <a href="http://cleanocean.sow.org.tw/index.php"><li>愛海小旅行</li></a>
                                    <a href="http://teia.tw/"><li>社團法人台灣環境資訊協會</li></a>
                                    <a href="https://www.epd.ntpc.gov.tw/Article?catID=1973"><li>淨灘合作社</li></a>
                                    <a href="https://ecolife2.epa.gov.tw/coastal/"><li>海岸淨灘認養系統</li></a>
                                    <a href="https://rethinktw.org/"><li>重新思考</li></a>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <a  class="col-md-6 mx-auto d-none d-xl-block" href="/">
              <button type="button" class="btn btn-primary btn-lg">
                  <i class="fa fa-home" aria-hidden="true"></i>回首頁
              </button>
            </a>
            <a  class="d-grid col-md-6 col-8 mx-auto  d-block d-xl-none" style="margin-top: 10px;" href="/">
              <button type="button" class="btn btn-primary btn-sm">
                  <i class="fa fa-home" aria-hidden="true"></i>回首頁
              </button>
            </a>
          </div>

        <div class="position-absolute bottom-0 end-0">
            <a href="/more">
                <button type="button" class="btn-round btn-primary">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </button>
            </a>
        </div>

    </div>
</body>
</html>