
body{
    height:100vh;
    background-image:url('/static/img/ocean.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
 }
p,h1{
   color: white;
   font-family: 'Noto Serif TC', serif;
}
a, a:hover{
   text-decoration: none;
}
i{
   padding: inherit;
}
hr{
   size: 3px;
   color: #F5E0E0;
}
/* .start-title{
   font-weight: bold;
   letter-spacing: 0.2rem;
} */

/* .title{
   margin: 2vh;
} */

.text-border{
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   /* -webkit-text-stroke: calc(0.05rem + 0.01vw) black; */
}
/* .container{
   padding: 5vh;
} */
.card{
   /* margin: 5vh 0; */
   /* padding: 5vh; */
   /* height: 62vh; */
   background: rgba(159, 157, 158, 0.36);
   /* border-radius: 20px; */
   overflow: auto;
}

.card-nbg{
   margin: 5vh 0;
   padding: 5vh;
   height: 62vh;
   border-radius: 20px;
   overflow: auto;
}

.action-card{
   margin: 2vh;
   background: rgba(217, 217, 217, 0.4);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   /* height: max-content; */
}
.action-card-no{
   height: 60px;
   width: 60px;
   font-size: 2rem;
   background: #48B0D9;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
}
.action-card-title{
   margin: 2rem 0;
   font-size: 5rem;
}
.action-card-img{
   height: 220px;
}
.image-info{
   margin-top: -25px;
   padding: 1px;
   background-color: #26272765;
}
.carousel{
   margin: 5vh 0;
}
.carousel-text{
   font-size: 20px;
   color: #303030;
   background: rgba(217, 217, 217, 0.7);
}
.btn-round{
   margin: 1.5vh 1.5vh;
   height: 55px;
   width: 55px;
   border-radius: 100%;
   border: 1px solid;
}
.btn-primary{
   text-align: center;
   background-color: #014959;
   border-color:#014959;
   font-family: 'Noto Serif TC', serif;
   font-size: 29px;
}
.btn-info{
   text-align: center;
   background-color: #0149596a;
   border-color:#014959;
   font-family: 'Noto Serif TC', serif;
   font-size: 29px;
   color: #fff;
}
.rank-item{
   border-radius: 10px;
   border: 2px solid rgba(0,0,0,.125);
   background-color: #17a2b85c;
   margin: 0 2px;
}
.text{
   color: white;
}
.text-danger{
   color: #E74121;
}
.text-warning{
   color: #FF9E29;
}
.text-safe{
   color: #05bc2f;
}
.input-group{
   height: 38px;
}
.input-group-text{
   font-size: 20px;
}
.info-text{
   font-size: 20px;
   margin: 0;
}

.list-group-item{
   background-color: #ffffffd9;
   border: 5px solid rgba(0,0,47,.125);
   margin-bottom: 2px;
}

/* RWD */

@media only screen and (min-width: 1200px) {
   .container{
      padding: 5vh;
   }
   .card{
      margin: 5vh 0;
      padding: 5vh;
      height: 62vh;
      border-radius: 20px;
   }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
   .container{
      padding: 10px;
   }
   .card{
      margin: 10vh 0;
      padding: 5vh;
      height: 62vh;
      border-radius: 20px;
   }
   body{
      height:102vh;
   }
   .carousel {
      margin: 20vh 0;
  }
  .title{
   margin-top: 20px;   
   }
   .action-card-title{
      margin: 10px;
      font-size: 3rem;
   }
   .action-card-img{
      height: 115px;
   }
   .action-card-no{
      height: 50px;
      width: 50px;
   }
}
@media only screen and (min-width: 0px) and (max-width: 767px){
   .container{
      padding: 5px;
   }
   .card{
      margin-top: 5vh;
      padding: 5vh;
      height:80vh;
      border-radius: 20px;
   }
   body{
      height:103vh;
   }
   .carousel {
      margin: 20vh 0;
  }
  .title{
   margin-top: 10px;   
   }
   .action-card-title{
      margin: 10px;
      font-size: 2rem;
   }
   .action-card-img{
      height: 120px;
   }
   .action-card-no{
      height: 50px;
      width: 50px;
   }
}